@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap');


/* -------------
base
---------------*/
html {
  -webkit-appearance: none;
  -webkit-text-size-adjust: 100%;
  word-break: break-all;
}
  /* medium500 */
  /* bold700 */
body {
  font-family: "Noto Sans JP", serif;
  font-weight: 500;
  color: #505050;
  font-size: 1.125rem;
  line-height: calc(33 / 18);
  letter-spacing: 0;
}

:root {
  --color-main:#505050;
}

/* -------------
common
---------------*/
/* PC.SPの非表示 */
@media (max-width: 767px) {
  .pc {
    display: none !important;
  }
}
@media (min-width: 768px) {
  .sp {
    display: none !important;
  }
}

.inner {
  max-width: 880px;
  margin-inline: auto;
  align-items: center;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  cursor: pointer !important;
}

.section-title {
  text-align: center;
}
.section-title h2 {
  display: inline-block;
  font-size: 1.5625rem;
  font-weight: 700;
  /* line-height: calc(39 / 30); */
  /* color: var(--color-main); */
  /* font-family: var(--font-eb); */
  position: relative;
}
.section-title h2::before,
.section-title h2::after {
  content: '';
  width: 25.49px;
  height: 25px;
  /* background: var(--color-main); */
  position: absolute;
  background: url("../img/strengths_logo.svg");
  top: 50%;
  transform: translateY(-50%);
}
.section-title h2::before {
  left: -45px;
}
.section-title h2::after {
  right: -45px;
}


/* -------------
header
---------------*/

.header {
  padding-inline: 20px;
}

.header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 9.51px;
}

.header__logo img {
  width: 25.49px;
  height: 25px;
  /* aspect-ratio: 25.49px / 25px; */
}

.header__logo a {
  height: 50px;
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  transition: opacity 0.4s; 
}
@media (max-width: 767px) {
  .header__logo {
    font-size: 1.25rem;
    font-weight: 700;
  }
}

.header__logo a:hover {
  opacity: 0.7;
}

.header__nav ul {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.header__nav ul li a {
  height: 50px;
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  transition: opacity 0.4s;
}
@media (max-width: 767px) {
  .header__nav ul li a {
    display: none;
  }
}

.header__nav ul li a:hover {
  opacity: 0.7;
}

/* -------------
FV
---------------*/

.fv {
  position: relative;
}

.fv__image img {
  aspect-ratio: 1080 / 500;
  object-fit: cover;
}

@media (max-width: 767px){
.fv__image img {
  aspect-ratio: 375 / 550;
} 
}

.fv__contents {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
}
@media (max-width: 767px){
  .fv__contents {
    top: auto;
    bottom: 0;
    left: 0;
    height: auto;
    align-items: flex-end;
  }
}

.fv__catch {
  width: 492px;
  height: 210px;
  padding-left: 99px;
  position: relative;
  background: rgb(255 255 255 / 0.702);
}
@media (max-width: 767px){
  .fv__catch {
    width: 311px;
    height: 148px;
    padding-left: 20px;
  }
}

.fv__catch h2 {
  font-size: 40px;
  font-weight: 600;
  position: relative;
  line-height: calc( 60 / 40);
  color: #0D96A0;
}
/* @media (max-width: 900px){
  .fv__catch h2 {
    font-size: 32px;
  }
} */
@media (max-width: 767px){
  .fv__catch h2 {
    font-size: 30px;
    line-height: calc(40 /30);
  }
}

@media (max-width: 767px){
.large-font {
    font-size: 30px;
    line-height: calc(54 / 40);
  }
}

.fv__catch h2 .small-font {
  font-size: 25px;
  color: #505050; 
}
/* @media (max-width: 900px){
.fv__catch h2 .small-font {
    font-size: 28px;
  }
} */
@media (max-width: 767px){
.fv__catch h2 .small-font {
    font-size: 20px;
  }
}

/* -------------
message
---------------*/
#message {
  padding-block: 60px;
}
@media (max-width: 767px){
#message {
    padding-block: 49px 39px;
  }
}
.message__inner {
  text-align: center;
  padding-inline: 20px;
}


.message__inner h2{
  font-size: 1.875rem;
  color: #0D96A0;
  line-height: calc( 50 / 30);
}
@media (max-width: 767px){
.message__inner h2 {
    font-size: 1.5625rem;
    line-height: calc( 35 / 25);
  }
}

.message__inner p {
  margin-top: 15px;
}
@media (max-width: 767px){
.message__inner p {
    margin-top: 17px;
    font-size: 1rem;
    line-height: calc(30 / 16);
    text-align: left;
  }
}

.message__img {
  position: relative;
  height: 77.12px;
}

.message__img img {
  position: absolute;
  width: 83.75px;
  height: 77.12px;
  display: block;
  margin-left: auto;
  top: -50px;
  right: -44px;
}
@media (max-width: 767px){
.message__img img{
  width: 68.35px;
  height: 62.94px;
  top: -70px;
  right: 9px;
  }
}

.sp-only {
  display: none;
}
@media (max-width: 767px){
.sp-only {
    display: block;
  }
}

/* -------------
strengths
---------------*/
#strengths {
  padding: 60px 100px 68px;
  background: rgb(13 150 160 / 0.102);
}
@media (max-width: 767px){
#strengths {
    padding: 47px 20px 35px;   
  }
}

.strengths__contents {
  padding-top: 42px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
@media (max-width: 767px){
.strengths__contents {
    padding-top: 36px;
    gap: 42px;  
  }
}

.strengths__content {
  display: flex;
  align-items: center;
  column-gap: calc(45 /880 * 100%);
}
@media (max-width:767px){
  .strengths__content{
    flex-direction: column;
    row-gap:26px;
  }
}

.strengths__content:nth-child(odd) {
  flex-direction: row-reverse;
}
@media (max-width:767px){
  .strengths__content:nth-child(odd) {
    flex-direction: column;
  }
}    

.strengths__textarea {
  flex: 1;
}

.strengths__textarea h3 {
  font-size: 1.375rem;
  line-height: calc(35 / 22);
  font-weight: 700;
}
@media (max-width: 767px){
.strengths__textarea h3 {
    text-align: center;
    font-size: 1.25rem;
    line-height: calc(30 / 20);
  }
}

.strengths__textarea p {
  margin-top: 17px;
  font-size: 18px;
  line-height: calc(33 / 18);
}
@media (max-width: 767px){
.strengths__textarea p {
    margin-top: 8px;
    font-size: 1rem;
    line-height: calc(30 / 16);
  }
}

.strengths__image {
  width: calc(440 /880 * 100%);
}
@media (max-width: 767px){
.strengths__image {
    width: 100%;
  }
}
.strengths__image img {
  aspect-ratio: 440 /247;
  object-fit: cover;
}
@media (max-width: 767px){
.strengths__image img {
    aspect-ratio: 335 / 200;
  }
}

